/* Estilo base */
.list-item-title {
    font-weight: bold;
    margin-bottom: 5;
}

/* 8. Sobrecarga de estilos para iOS */
.ios .list-item-title {
    color: blue;
    font-size: 18;
}

/* 8. Sobrecarga de estilos para Android */
.android .list-item-title {
    color: green;
    font-size: 20;
    margin-top: 10;
}
